<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
      <% if @article.image_id.present? %>
        <%= image_tag attachment_url(@article, :image), class: 'article-image padding-top-15' %>
      <% else %>
        <p class="text-center padding-top-80", style='height: 200px; width: 100%'>画像がセットされていません</p>
      <% end %>

      <h1><%= @article.title %></h1>
      <div class="padding-bottom-15" style="padding: 10px">
        <%= simple_format @article.body %>
        <p class="text-right">
          <%= @article.created_at.strftime("%Y年%m月%d日") %>
        </p>
        </div>
        <%= link_to '編集', edit_article_path(@article), class: 'btn btn-success', style: 'margin-bottom: -50px;' %>
        <%= button_to '削除', article_path(@article), method: :delete, data: {confirm: '削除してもよろしいですか?'}, class: 'btn btn-danger', style: 'margin-left: 65px;' %>
    </div>
</div>
